body{

 background: #f5f3f0;
}
.logoHome{
    width: 150px;
    margin-left: 10px;
}
.login{
    margin-left: auto;
    color: gray;
    text-decoration: none;
   
}
.boxLogin a{
    text-decoration: none;
}

.navWebHome{
    background: #ffffff;
    border-bottom: 1px solid #c97f1ee0;
    padding-top: 0px;
    padding-bottom: 0px;
}
.menuList{
    width: auto;
    padding-right: 5px;
    font-size: 18px;
}
.menuList :hover{
   font-size: 20px;
}
.menu{
    padding-top: 30px;
    padding-right: 0px;
    justify-content: center;
}

.boxForm{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 12px;
  
}
.inputForm{
    border-radius: 15px;
    height: 30px;
}
.fa-search{

    right: 30px; 
    position: absolute; 

 }
/******************CAROUSEL***************/
#containerCarousel{
    padding-top: 40px;

}
.slideCarousel{
    border: 6px solid #ccbcacf1;
}

/************* MAIN CONTAINER*****************/

.containerPrincipal{
 width: 90%;
 background: transparent;
   
}
.tituloContainer{
    padding-bottom: 30px;
    padding-top: 50px;  
    padding-left: 100px;
    padding-right: 100px;
    
}
.titulo{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color:  #bb7d09 ;
 
}
.titulo::before{
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color:#bb7d09;
    position: relative;
    top: 0.5em;
    margin-right: 15px;
}
.titulo::after{
    flex-grow: 1;
    height: 1px;
    content: '\a0';
    background-color: #bb7d09;
    position: relative;
    top: 0.5em;
    margin-left: 15px;
}
.boxProduto{
    padding: 20px;

}
.boxProduto:hover{
    width: 100%;
}
.itemImagemContainer{
    box-shadow:2px 2px 4px; 
}
.itemImage{
    padding-bottom: 5px;
}
.itemInfoContainer{
    box-shadow:2px 2px 4px ; 
	height: auto;
    position: relative;
    background: #a08e6c;
    text-align: center;
}
.itemInfo{
    padding-top: 5px;
    color: #f3ecdc;
   
     
 }
.itemName{
     text-align: center; 
     font-size: 18px;
     margin: 0px;
     font-weight: 500;
     color: #f3ecdc;
         
 }
 .itemProm{
    margin-bottom: 0px;
    color: #f3ecdc;   

}
 .itemPrice{
     font-size: 16px;
     margin: 0px;
     color: #f3ecdc;     
     
 }

.itemLink{
    text-align: end;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
  
}
.itemLink a{
    color: #ffffff;
     text-decoration: none;
  
}
.itemLink a:hover{
    color: #ffad42;
   
    
}

 

 #footer{
	height: 60px;
	position: absolute;
    margin-top: 100px;
    background: #b69e83;
}
 
/* XS*/
@media only screen and (max-width: 576px) {
    
    .boxProduto{
        width: 50%;
    }
    .containerPrincipal{
        padding-right: 0px;
        padding-left: 0px;
        width: 100%;
    }
    .tituloContainer{
        padding: 10px 60px 10px 50px;
    }
    .titulo{
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    #containerCarousel{
        padding: 20px 0px 0px 0px;
        
    }
    

}
/* SM*/
@media only screen and (min-width: 577px) and (max-width: 768px) {
   .containerPrincipal{
       padding-right: 0px;
       padding-left: 0px;
       width: 100%;
   }
   .tituloContainer{
       padding: 10px 60px 10px 60px;
   }
   .titulo{
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 0px;

}

}
/* MD */
@media only screen and (min-width: 769px) and (max-width: 992px){
  

}

/* LG*/
@media only screen and (min-width: 993px) and (max-width: 1200px){
   
    .menuList{
        font-size: 24px;
    }
    .logoHome{
        width: 2000px;
    }
   
}
/* XL*/
@media only screen and  (min-width: 1201px){
    .menuList{
        font-size: 24px;
    }
    #containerCarousel{
       width: 80%;
    }
    .titulo{
        font-size: 220%;
    }
    .containerPrincipal{
      
    }
    .logoHome{
        width: 200px;
    }

}