@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css");
body{
	background:#f9f2ec;

}

.loginBox{
	background: #ffffff;
	box-shadow: 8px 8px 5px #aaa9a9;
	padding-right: 40px;
	padding-left: 40px;
	padding-top: 20px;
	padding-bottom: 40px;
	margin-top: 20px;
	margin-bottom: 20px;

	
}
#logoLogin{
	background: #ffffff;
	width: 50%;
	padding-bottom: 20px;
	
}
#logoImage{
	width: 100%;
}
.admin{
	
	padding:5px;
	margin-bottom: 10px;
	border-radius: 5px;

}
.admin p{
	margin-bottom: 0px;
	color:#666666 ;
	font-family: 'Comic Neue', cursive;
	font-size: 25px;


}
#btnLogin{
	background: #e79a4c;
	border: 1px solid #d48536;
	margin-top: 30px;

}
label{
	color:#666666 ;
	font-family: 'Comic Neue', cursive;
}
.btnSalvarCancelar{
	background: #e79a4c;
	border: 1px solid #d48536;
	margin-top: 20px;
	width: 49%;
	font-family: 'Comic Neue', cursive;

}

.cadastroBox{
	background: #ffffff;
	box-shadow: 8px 8px 5px;
	padding: 10px 40px 30px 40px;

	
}
.cadastro p{
	
		margin-bottom: 0px;
		color:#666666 ;
		font-family: 'Comic Neue', cursive;
		font-size: 25px;
	
}
.cadastro{
	padding: 15px 0px 10px 0px;
	margin-top: 15px;
	border-bottom: 1px solid #e9e6e6;
	background: #fafafa;
}
.simpleBtn{
	background: #e79a4c;
	border: 1px solid #d48536;
	color: white;	

}

.simpleBtn:hover{
	background-color:#666666 ;
	border: 1px solid #aaa9a9;
}

/* Home Admin*/
.navHomeAdmin{
	
	padding-top: 0px;
	padding-bottom: 0px;


}
.logoHome {
	width: 80px;
	
}
.menu{
	padding-right: 0px;
	padding-left: 0px;
	float: right;
}
.menuList a{
	color:#666666 ;
	font-family: 'Comic Neue', cursive;
	font-size: 20px;
	
}
.itemBC a{
          
	color: #e79a4c;
}
.breadcrumb-item{
	font-family: 'Comic Neue', cursive;

}
#boxGraf{
	margin-top: 30px;	
	float: left;
	margin-bottom: 30px;
	}

#Graf{
	background: white;	
 	box-shadow: 10px 10px 5px grey;
 	border-radius: 5px;
}
.ultimosPC{
	background: white;	
 	box-shadow: 10px 10px 5px grey;
 	border-radius: 5px;
}
#tabelasPedidosClientes{
	margin-top: 30px;	
	float: right;

}

